In [1]:
import pandas as pd 
import numpy as np

In [3]:
fuel_data = pd.read_csv(r'C:\Users\PRohr\Downloads\T_SCHEDULE_T2.csv')

In [5]:
fuel_data = fuel_data.dropna(subset = ['AIRCRAFT_FUELS_921'])

In [20]:
fuel_data = fuel_data[['YEAR', 'QUARTER','CARRIER_NAME', 'AIRCRAFT_TYPE', 
       'AVL_SEAT_MILES_320', 'REV_PAX_MILES_140', 'HOURS_AIRBORNE_650','ACRFT_HRS_RAMPTORAMP_630',
       'AIRCRAFT_FUELS_921',]]

In [21]:
fuel_data.columns

Index(['YEAR', 'QUARTER', 'CARRIER_NAME', 'AIRCRAFT_TYPE',
       'AVL_SEAT_MILES_320', 'REV_PAX_MILES_140', 'HOURS_AIRBORNE_650',
       'ACRFT_HRS_RAMPTORAMP_630', 'AIRCRAFT_FUELS_921'],
      dtype='object')

In [25]:
fuel_data = fuel_data[fuel_data.AIRCRAFT_FUELS_921 != 0]
fuel_data = fuel_data[fuel_data.HOURS_AIRBORNE_650 != 0]
fuel_data['ASK'] = fuel_data['AVL_SEAT_MILES_320']/1.60934
fuel_data['Fuel MJ'] = fuel_data['AIRCRAFT_FUELS_921']*3.78541*35

In [27]:
fuel_data['MJ/ASK)']= fuel_data['Fuel MJ']/fuel_data['ASK']

In [30]:
#Groupby AC type 

fuel_ac = fuel_data[['AIRCRAFT_TYPE', 'MJ/ASK)']]

In [38]:
fuel_ac = fuel_ac.groupby('AIRCRAFT_TYPE').mean()
fuel_ac = fuel_ac.reset_index()
fuel_ac

    AIRCRAFT_TYPE    MJ/ASK)
0             150        NaN
1             218        NaN
2             339   2.849716
3             359   2.820910
4             390  41.695179
..            ...        ...
79            838   3.036594
80            839   2.107914
81            887   2.984774
82            888   2.536598
83            889   2.882199

[84 rows x 2 columns]

In [34]:
ac_data   = pd.read_csv(r"C:\Users\PRohr\Downloads\L_AIRCRAFT_TYPE.csv")

In [41]:
ac_fuel = pd.merge(fuel_ac, ac_data, left_on='AIRCRAFT_TYPE', right_on='Code')
ac_fuel = ac_fuel.drop(['Code', 'AIRCRAFT_TYPE'], axis = 1)

In [44]:
ac_fuel = ac_fuel.sort_values(by=['MJ/ASK)'])
ac_fuel

     MJ/ASK)                 Description
62  1.967654  Airbus Industrie A320-200n
61  2.084089  Airbus Industrie A321-200n
80  2.107914         Boeing B737 Max 900
59  2.383579    Airbus Industrie A321/Lr
64  2.417438        A220-300 BD-500-1A11
..       ...                         ...
66       NaN     McDonnell Douglas MD-11
74       NaN              Boeing 747-400
75       NaN             Boeing 747-400F
76       NaN               Boeing B747-8
78       NaN    Boeing 787-10 Dreamliner

[84 rows x 2 columns]